body {
  background-color: #1c1718;
}

:root {
  --gray: #d9d9d9;
}
.menu-top {
  display: flex;
  grid-gap: 10px;
  justify-content: space-between;
  z-index: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: #04aa6d;
}

.menu-login {
  background-color: #e44320;
}

.grid-container {
  height: 100vh;
  z-index: -2;
}
.grid-item1 {
  color: var(--gray);
  margin-left: 50px;
}
.grid-item1 h1 {
  font-size: 83px;
}
.grid-item2 {
  color: var(--gray);
  right: 0;
  grid-column: 4/6;
  position: absolute;
  right: 322px;
  z-index: -1;
  top: 120px;
}
.grid-item3 {
  position: absolute;
  top: -78px;
  right: 0;
  z-index: -1;
}
.h1-skills {
  color: #e44320;
}

.button-learning {
  background-color: var(--gray);
  padding: 12px 25px;
  font-size: 30px;
  border-radius: 10px;
}
