body {
  background-color: #1c1718;
}

:root {
  --gray: #d9d9d9;
}
.menu-top {
  display: flex;
  grid-gap: 10px;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: #04aa6d;
}

.menu-login {
  background-color: #e44320;
}

.grid-container {
  display: grid;
  gap: 10px;
}
.grid-item1 {
  grid-column: 1/5;
  color: var(--gray);
}
